<ul>
	<li>
		<a href="{{ '/archive' | prepend: site.baseurl | prepend: site.url }}">归档</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/categories' | prepend: site.baseurl | prepend: site.url }}">分类</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}">标签</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/search' | prepend: site.baseurl | prepend: site.url }}">搜索</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">关于</a><span>/</span>
	</li>

	<!-- {% if site.harmony.social.github %}
	<li>
		<a title="{{ site.harmony.social.github }} on Github"
			href="https://github.com/gayanvirajith/harmony" target="_blank">
			Download
		</a><span>/</span>
	</li>
	{% endif %} -->
</ul>
