<h6>Follow me</h6>

<ul id="social_zh">

    {% if site.harmony.social_zh.email %}
    <li>
        <a title="{{ site.harmony.social_zh.email }} on Email"
            href="mailto:{{ site.harmony.social_zh.email }}"
            class="fa fa-envelope-o" target="_blank"></a>
    </li>
    {% endif %}
    {% if site.harmony.social_zh.weibo %}
    <li>
        <a title="{{ site.harmony.social_zh.weibo }} on Sina Weibo"
            href="http://weibo.com/{{ site.harmony.social_zh.weibo }}"
            class="fa fa-weibo" target="_blank"></a>
    </li>
    {% endif %}

    {% if site.harmony.social_zh.github %}
    <li>
        <a title="{{ site.harmony.social_zh.github }} on Github"
            href="https://github.com/{{ site.harmony.social_zh.github }}"
            class="fa fa-github" target="_blank"></a>
    </li>
    {% endif %}

    {% if site.harmony.social_zh.qq %}
    <li>
        <a title="{{ site.harmony.social_zh.qq }} on Tencent QQ"
            href=""
            class="fa fa-qq" target="_blank"></a>
    </li>
    {% endif %}

    {% if site.harmony.social_zh.wechat %}
    <li>
        <a title="{{ site.harmony.social_zh.wechat }} on Tencent Wechat"
            href=""
            class="fa fa-wechat" target="_blank"></a>
    </li>
    {% endif %}

    {% if site.harmony.social_zh.rss %}
    <li>
        <a title="{{ site.harmony.social_zh.rss }} on RSS"
            href="{{ site.baseurl }}/feed.xml"
            class="fa fa-rss" target="_blank"></a>
    </li>
    {% endif %}

</ul>
