/**
 * 重置页面 */
* {
    padding:0;
    margin:0;
    list-style-type:none;
}

/**
 * 整体样式
 */
html {
    background-color: #f3f3f3;
    background-image: url(../imgs/wallpaper.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 0px 0px;
}

/**
 * 页面主容器样式
 */
body {
    width:100%;/* 宽度 */
    height::100%;/* 宽度 */
    margin: 0 auto; /* 边界auto为自动，这里用到了缩写形式意思为上下为0，左右自动 */
    /* background:#666666 */
}

/**
 * 页面头部
 */
.header {
    width:100%;
    height: 140px;
    margin: 0 auto;
    overflow:hidden; /* 防止div被撑开，超过div大小就隐藏 */
    /*background:#666666; /* 背景色 */*/
    /*border-bottom: thick inset #999999;*/
}

.head-logo {
    width:950px;
    /*height:80px;*/
    /*min-width: 50%;*/
    /*max-width: 75%;*/
    margin:10px auto;  /*两个值时为:上下; 四个值时为:上 右 下 左*/ 
}

.head-logo span{
    font-family:"Times New Roman",Georgia,Serif;
    /*font-family:Arial,Verdana,Sans-serif;*/
    text-shadow:#3D3D3D 5px 5px 10px;
}

/* 菜单 */
.ullicss {
    height:36px;
    background: #2D2D2D none repeat scroll 0% 0%;
    margin: 0px auto;
}

.ullicss ul{
    list-style:none;
    width: 1000px;
    margin: 0 auto;
}

.ullicss li{
    float: left; 
    width: 100px; 
    line-height: 36px;
}

.ullicss a:link {
    color:white; 
    font-weight:bold; 
    text-decoration:none; 
    background: #2D2D2D;
}

.ullicss a:visited {
    color:white; 
    font-weight:bold; 
    text-decoration:none; 
    background: #2D2D2D;
}

.ullicss a:hover {
    color:pink; 
    font-weight:bold; 
    text-decoration:none; 
    background:#6B6B6B;
}

.ullicss a  {
    display:block; 
    text-align:center; 
    height:35px;
}

/**
 * 页面主题内容大体布局
 */
.content {
    width: 950px;
    margin: 0 auto;
    mix-height: 800px;
    /*font-family: Verdana,verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);*/
    /*-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);*/
    /*box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);*/
}

/**
 * 个人简介部分
 */
.willerce {
      text-align: center;
      margin: 60px auto auto auto;
      max-width: 600px;
      padding: 0 20px;
}
    
.willerce a {
    color: #535353;
    text-decoration: underline;
}

.willerce a:link,
.willerce a:visited {
    color: #535353;
    text-decoration: underline;
}
    
.willerce h1 {
    font-size: 26px;
    color: #424242;
    margin-bottom: 20px;
}
   
.avatar {
    margin-bottom: 30px;
    border-radius: 64px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

 /**
  * 搜索
  */
#search_box {
    overflow: hidden;
    margin-top: auto;
}

#search_box .tab_menu {
    list-style: none;
    width: 140px;
    overflow: hidden;
    margin: 0 auto
}

#search_box .tab_menu li {
    background: #D4D7DB;
    width: 70px;
    height: 30px;
    line-height: 30px;
    float: left;
    color: #2D2D2D;
    text-align: center;
    cursor: pointer;
}

#search_box .tab_menu li#button_baidu {
    background: #2D2D2D;
    color: #FFF;
}

#search_box .tab_box {
    margin: 0 auto;
    width: 715px;
    padding-bottom: 25px;
    overflow: hidden
}

#search_box .tab_box #div_google {
    display: none;
}

#s {
    font-family: Arial;
    color: #2D2D2D;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    width: 568px;
    font-weight: bold;
    border-color: #D4D7DB;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    float: left;
    display: inline-block
}

#search-submit {
    background: #D4D7DB;
    border: none;
    display: inline-block;
    width: 110px;
    cursor: pointer;
    font: bold 26px arial,sans-serif;
    height: 54px;
    vertical-align: top;
    outline: 0 none;
    color: #2D2D2D
}

/**
 * 页脚
 */
.footer {
    margin-top: 80px;
    overflow: hidden;
    padding: 2em 0em;
    border-top: 1px solid rgba(255,255,255,0.08);
    text-align: center;
    background: #2D2D2D;
}

.footer p {
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: rgba(255,255,255,0.3);
}

.footer a {
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}

.footer .title {
    margin-bottom: 1em;
}

.footer .title h2 {
    font-size: 1.4em;
    color: rgba(255,255,255,0.9);
}

.footer .title .byline {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8em;
    color: #6F6F6F;
}

ul.contact {
    margin: 0;
    padding: 0em 0em 1em 0em;
    list-style: none;
}

ul.contact li {
    display: inline-block;
    padding: 0em 0.50em;
    font-size: 1.5em;
}

ul.contact li span {
    display: none;
    margin: 0;
    padding: 0;
}

ul.contact li a {
}

ul.contact li a:hover:before {
    color: #FFF;
}

ul.contact li a:before {
    display: inline-block;
    text-align: center;
    color: rgba(255,255,255,.4);
}

.contact img {
    vertical-align: middle;
    opacity: 0.5;
}

.contact img:hover {
    opacity: 1;
}

/**
 * 网址导航
 */
#nav_menu {
    width: 120px;
    border-color: #c5c6c4;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    /*float:left;*/
    display: block;
    position: absolute;
}

#nav_menu h1 {
    margin: 0px;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana;
    border-top: 1px solid #c5c6c4;
    background-color: #CCCCCC;
}

#nav_menu h1 a {
    color: #000;
    text-decoration: none;
}

#nav_menu h1 a:hover {
    color: #999999;
    text-decoration: underline;
}

#nav_menu h2 {
    margin: 0px;
    padding: 5px 1em;
    font-size: 16px;
    font-family: Verdana;
    font-weight: normal;
}

#nav_menu h2 a {
    color: #666666;
    text-decoration: none;
}

#nav_menu h2 a:hover {
    color: #999999;
    cursor: pointer;
    text-decoration: underline;
}

#nav_content {
    margin-left: 150px;
    width: 800px;
    min-height: 600px;
    border: 1px solid #c5c6c4;
}

.category {
    margin: 0px 10px 10px 10px;
    clear:both;
    padding-top: 10px;
}

.category .title {
    clear: both;
    /*color: #fff;*/
    font-size:14px;
    display:block;
    font-weight:bolder;
    margin-top:10px;
    border-bottom: 1px dashed #cccccc;
}

.category .title .shade {
    width: 120px;
    padding: 6px;
    text-align:center;
    background-color:#c5c6c4;
    border-radius: 0px 20px; /* 左上角、右上角、右下角、左下角（顺时针顺序 )*/
}

.category .item
{
    float: left;
    width: 150px;
    margin-left: 6px;

    /* 文本超出宽度时显示省略号 */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item img
{
    width: 18px;
    height: 18px;
    /*background-color:white;*/
}

.item a
{
    color: #666666;
    font-family: Verdana,verdana;
    font-size:16px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 4px;
    text-decoration:none; /* 去掉下划线 */
}

.item a:hover
{
    color: #C00;
}

/**
 * 心情随笔
 */
.essay {
    margin: 10px auto 40px;
}

.sg_text {
    width: 800px;
    min-height: 50px;
    background: #fff;
    border: 1px solid #E0DFDF;
    filter: Alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    margin: 10px 10px 0px 10px;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    color: #4F4F4F;
    left: 100px;

}

.org_box_cor {
    width: 0;
    height: 0;
    font-size: 0;
    border-style: solid;
    overflow: hidden;
    position: absolute;
}

.cor2 {
    border-width: 20px;
    border-color: transparent #fff transparent transparent;
    left: -40px;
    top: 10px;
}

.essay img {
    position: absolute;
    /*top: 40px;*/
    /*left: -14px;*/
    /*z-index: 1;*/
    float:left;
}

.essaytime {
    text-align:right;
    margin-right: 40px;
}

/**
 * 微博秀
 */
#weiboshow {
    text-align: center;
}